@import url('../css/reset.css');
@import url('../css/button.css');

/* 容器 */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

/* label */
.label {
  display: flex;
  align-items: center;
}
.label .label-text::after {
  content: ': ';
}

/* select */
.select {
  font-size: 20px;
  color: #090;
  background-color: #eee;
  text-align: center;

  display: inline-block;
  width: 300px;
  position: relative;
  vertical-align: middle;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  color: #555;
  border: 1px solid #aaa;
  text-shadow: none;
  border-radius: 4px;
  transition: box-shadow 0.25s ease;
  z-index: 2;
}

.select:hover,
input.url[type="text"]:focus,
input.url[type="text"]:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.select:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #ccc;
  top: 14px;
  right: 10px;
  cursor: pointer;
  z-index: -2;
}
.select select {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select:focus,
input.url {
  outline: none;
}

input.url {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 300px;
}

/* 表单项 */
.form-item {
  margin-bottom: 10px;
}

.form-item:last-child {
  margin: 0;
}

fieldset:not(.checked) .label-text,
fieldset:not(.checked) select,
fieldset:not(.checked) input {
  color: #dedede;
}

.label-text {
  display: inline-block;
  width: 80px;
}

/* 按钮 */
.btns {
  text-align: center;
}

/* 禁用的按钮 */
.btn:disabled {
  display: none;
}
