@import url('../css/reset.css');
@import url('../css/button.css');

/* 容器 */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.form .radio-group .radio-option {
  margin-bottom: 10px;
}

.form .radio-group .radio-option:last-child {
  margin: 0;
}

/* label */
.form .label::after {
  content: ': ';
}

/* select */
.select {
  font-size: 20px;
  color: #090;
  background-color: #eee;
  text-align: center;

  display: inline-block;
  width: 300px;
  position: relative;
  vertical-align: middle;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  color: #555;
  border: 1px solid #aaa;
  text-shadow: none;
  border-radius: 4px;
  transition: box-shadow 0.25s ease;
  z-index: 2;
}

.radio-option.checked .select:hover,
.radio-option.custom.checked input.url[type="text"]:focus,
.radio-option.custom.checked input.url[type="text"]:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.select:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #ccc;
  top: 14px;
  right: 10px;
  cursor: pointer;
  z-index: -2;
}
.select select {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select:focus,
input.url {
  outline: none;
}

input.url {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 300px;
}

/* 禁用的组件样式 */
.radio-option:not(.checked),
.radio-option:not(.checked) select,
.radio-option:not(.checked) input[type='text'] {
  color: #aaa;
}

/* 表单项 */
.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10px;
}

.form-item:last-child {
  margin: 0;
}

/* 禁用的按钮 */
.form-item .btn:disabled {
  display: none;
}
